:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #213547;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.app-container {
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: $breakpoint-lg;

  @media screen and (min-width: $breakpoint-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  font-size: 0.875rem;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    box-shadow: $elevation-2;
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-title {
  font-size: 1rem;
  font-weight: 700;
}

.text-subtitle {
  font-size: 0.875rem;
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.show-on-mobile {
  display: unset;
  @media screen and (min-width: $breakpoint-sm){
    display: none  !important;
  }
}

.hide-on-desktop {
  display: unset;
  @media screen and (min-width: $breakpoint-md){
    display: none  !important;
  }
}

.hide-on-mobile {
  display: none  !important;
  @media screen and (min-width: $breakpoint-sm){
    display: block  !important;
  }
}

h5 {
  font-size: 1.75rem;
  font-weight: 500;  
  margin: 0.5rem 0 1.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.app-divider {
  display: block;
  flex: 1 1 0;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: 0 solid $dividerColor;
  border-bottom-width: 1px;
  margin: 0;
}

.primary--text {
  color: $primary;
}

.app-badge {
  border-radius: 50%;
  color: $standardColor;
  height: 1.125rem;
  width: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.325rem;
  right: -0.325rem;
}


